.Hero {
  background: no-repeat center 27% / cover
    url("../../../../assets/hero-banner.jpg");
  height: 256px;
  padding: 80px 0 0 16px;
  position: relative;
  h1 {
    color: #fff;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    @media screen and (min-width: 1024px) {
      position: absolute;
      left: 10%;
      top: 55%;
      font-size: 24px;
      font-weight: 300;
      line-height: 34px;
    }
  }
  h2 {
    color: #fff;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    @media screen and (min-width: 1024px) {
      position: absolute;
      left: 10%;
      top: 40%;
      font-size: 40px;
      line-height: 48px;
    }
  }
}
