.Calendar {
  display: flex;
  align-items: center;
  margin: 4px 8px;
  width: 96%;
  position: relative;
  @media screen and (min-width: 1024px) {
    width: 55%;
  }
  .departureDate {
    flex: 1;
    .departureDateContent {
      display: flex;
      position: relative;
      font-weight: 400;
      height: 48px;
      border: 1px solid #f1f2f6;
      font-size: 16px;
      letter-spacing: 0.3px;
      cursor: pointer;
      transition: border 0.15s;
      color: #132968;
      background-color: #f1f2f6;
      box-shadow: none;
      align-items: center;
      justify-content: flex-start;
      border-radius: 8px 0 0 8px;
      .calendarSVG {
        color: #a1a9c3;
        padding: 0 10px;
        display: flex;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
    &:hover,
    &:focus {
      border: 1px solid #a1a9c3;
      border-radius: 8px 0 0 8px;
    }
  }
  .arrivalDate {
    flex: 1;
    .arrivalDateContent {
      display: flex;
      position: relative;
      font-weight: 400;
      height: 48px;
      border-radius: 8px;
      border: 1px solid #f1f2f6;
      font-size: 16px;
      letter-spacing: 0.3px;
      cursor: pointer;
      transition: border 0.15s;
      color: #132968;
      background-color: #f1f2f6;
      box-shadow: none;
      align-items: center;
      border-radius: 0 8px 8px 0;
      padding: 0 0 0 20px;
      &::before {
        position: absolute;
        left: -1px;
        top: 50%;
        margin-top: -12px;
        content: "";
        height: 24px;
        width: 1px;
        background-color: #ccc;
      }
      .addReturn {
        color: rgb(161, 169, 195);
        max-width: calc(100% - 44px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    &:hover {
      border: 1px solid #a1a9c3;
      border-radius: 0 8px 8px 0;
    }
  }
  .calendarModal {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 999;
    flex-direction: column;
    @media screen and (min-width: 1024px) {
      position: absolute;
      max-height: 560px;
      height: inherit;
      box-shadow: 0 4px 8px rgba(19, 41, 104, 0.1);
      border-radius: 8px;
      padding: 24px;
      top: 55px;
      right: -225px;
      left: inherit;
      width: 800px;
    }
    &Top {
      box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.1);
      z-index: 1;
      @media screen and (min-width: 1024px) {
        display: none;
      }
      &Content {
        display: flex;
        width: 100%;
        padding: 16px;
        &Text {
          position: relative;
          height: 100%;
          width: 100%;
          color: #132968;
          font-size: 18px;
          font-weight: 700;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding-right: 16px;
        }
        &SVG {
          cursor: pointer;
          svg {
            height: 24px;
            width: 24px;
            path {
              fill: rgb(113, 127, 164);
            }
          }
        }
      }
      &Weekdays {
        padding: 0 16px;
        ul {
          display: flex;
          text-transform: uppercase;
          max-height: 48px;
          height: 100%;
          li {
            width: 100%;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            height: 48px;
            color: #717fa4;
            font-size: 14px;
            margin-bottom: 4px;
            align-items: center;
          }
          .weekend {
            font-weight: 700;
          }
        }
      }
    }
    &Days {
      padding: 0 16px;
      position: relative;
      width: 100%;
      height: calc(100vh - 56px);
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      background-color: #fff;
      opacity: 1;
      @media screen and (min-width: 1024px) {
        height: inherit;
        padding: 0;
        display: flex;
        gap: 50px;
      }
      .hidden {
        cursor: normal;
        position: absolute;
        left: 10px;
        top: 11px;
        svg {
          width: 24px;
          height: 24px;
          path {
            fill: rgb(228, 232, 235);
          }
        }
      }
      &SVG {
        cursor: pointer;
        position: absolute;
        left: 10px;
        top: 11px;
        svg {
          width: 24px;
          height: 24px;
          path {
            fill: #425486;
          }
        }
      }
      &SVG2 {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 5px;
        transform: rotate(180deg);
        svg {
          width: 24px;
          height: 24px;
          path {
            fill: #425486;
          }
        }
      }
      .react-calendar {
        width: 100%;
        line-height: 1.125em;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          &:before {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }
          &:after {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }
        }
        button {
          border: 0;
          outline: none;
          &:enabled {
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .react-calendar--doubleView {
        width: 700px;
        .react-calendar__viewContainer {
          display: flex;
          margin: -0.5em;
          > * {
            width: 50%;
            margin: 0.5em;
          }
        }
      }
      .react-calendar__navigation {
        display: flex;
        height: 44px;
        margin-bottom: 1em;
        @media screen and (min-width: 1024px) {
          margin-bottom: 0;
        }
        button {
          min-width: 44px;
          background: none;
          &:disabled {
            opacity: 0;
            @media screen and (min-width: 1024px) {
              opacity: 1;
            }
          }
          &:enabled {
            &:hover {
              background-color: #e6e6e6;
            }
            &:focus {
              background-color: #e6e6e6;
            }
          }
        }
        &__label {
          pointer-events: none;
          &__labelText {
            color: #132968;
            font-weight: bold;
            text-transform: capitalize;
            font-size: 16px;
            line-height: 24px;
            padding: 12px 0;
          }
        }
        &__next-button {
          opacity: 0;
          @media screen and (min-width: 1024px) {
            display: none;
          }
        }
        &__next2-button {
          opacity: 0;
          @media screen and (min-width: 1024px) {
            display: none;
          }
        }
        &__prev-button {
          opacity: 0;
          @media screen and (min-width: 1024px) {
            display: none;
          }
        }
        &__prev2-button {
          opacity: 0;
          @media screen and (min-width: 1024px) {
            display: none;
          }
        }
      }
      .react-calendar__month-view__weekdays {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.75em;
        @media screen and (min-width: 1024px) {
          border-bottom: 1px solid rgb(228, 232, 235);
        }
      }
      .react-calendar__month-view__weekdays__weekday {
        padding: 0.5em;
        display: none;
        @media screen and (min-width: 1024px) {
          display: flex;
          padding-left: 10px;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          color: #717fa4;
          font-size: 14px;
          align-items: center;
        }
      }
      .react-calendar__month-view__weekNumbers {
        .react-calendar__tile {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.75em;
          font-weight: bold;
        }
      }
      .react-calendar__month-view__days__day--weekend {
        color: #132968;
        font-weight: 700;
        @media screen and (min-width: 1024px) {
          font-weight: bold;
        }
      }
      .react-calendar__month-view__days__day--neighboringMonth {
        opacity: 0;
      }
      .react-calendar__year-view {
        .react-calendar__tile {
          padding: 2em 0.5em;
        }
      }
      .react-calendar__decade-view {
        .react-calendar__tile {
          padding: 2em 0.5em;
        }
      }
      .react-calendar__century-view {
        .react-calendar__tile {
          padding: 2em 0.5em;
        }
      }
      .react-calendar__tile {
        max-width: 100%;
        padding: 10px 6.6667px;
        background: none;
        text-align: center;
        color: #132968;
        font-size: 16px;
        aspect-ratio: 1;
        line-height: 20px;
        &:disabled {
          opacity: 0.4;
        }
        &:enabled {
          &:hover {
            border: 2px solid #425486;
            border-radius: 50%;
          }
          &:focus {
            border: 2px solid #425486;
          }
        }
      }
      .react-calendar__tile--hasActive {
        background: #76baff;
        &:enabled {
          &:hover {
            background: #a9d4ff;
          }
          &:focus {
            background: #a9d4ff;
          }
        }
      }
      .react-calendar__tile--active {
        color: #fff;
        background-color: #425486;
        border-radius: 100%;
        &:enabled {
          &:hover {
            background: #425486;
          }
        }
      }
      .react-calendar--selectRange {
        .react-calendar__tile--hover {
          background-color: #e6e6e6;
        }
      }
    }
  }
}
