* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
  font-family: "GT Walsheim", "Arimo", sans-serif;
  abbr[title] {
    text-decoration: none;
  }
}
